<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>
</div>
<div class="inputformngo form-horizontal col-md-6 col-md-offset-3">
  <div class='form-group'>
    <label class="control-label col-md-4" for='fieldName'>Name</label>
    <div class='col-md-8'>
      <input type="text" id='fieldName' class="form-control" placeholder="Name" ng-model="newNgo.name">
    </div>
  </div>
  <div class='form-group'>
    <label class="control-label col-md-4" for='fieldCity'>City</label>
    <div class='col-md-8'>
      <select class="form-control" ng-options='city.name as city.name for city in cities' ng-model="newNgo.city"></select>
    </div>
  </div>
  <div class='form-group'>
    <label class="control-label col-md-4" for='fieldCategory'>Category</label>
    <div class='col-md-8'>
      <input type="text" class="form-control" placeholder="category" ng-model="newNgo.category">
    </div>
  </div>
  <div class='form-group'>
    <label class="control-label col-md-4" for='fieldAddress'>Address</label>
    <div class='col-md-8'>
      <textarea class="form-control" id="address" placeholder="Address" ng-model='newNgo.address' ng-change='getLatLng()'></textarea>
    </div>
  </div>
  <div class='form-group'>
    <label class="control-label col-md-4" for='fieldInfo'>Info</label>
    <div class='col-md-8'>
      <textarea class="form-control"  placeholder="Add info" ng-model='newNgo.info' ng-change='getLatLng()'></textarea>
    </div>
  </div>

   <div class='form-group'>
    <label class="control-label col-md-4" for='fieldSearch'>Latitude</label>
    <div class='col-md-8'>
      <input class="form-control"  placeholder="latitude" ng-model="newNgo.position.latitude"  id="lat"></input>
    </div>
  </div>
  <div class='form-group'>
    <label class="control-label col-md-4" for='fieldSearch'>Longitude</label>
    <div class='col-md-8'>
      <input class="form-control"  placeholder="longitude" ng-model="newNgo.position.longitude" id="lng"></input>
    </div>
  </div>
   <span class="ngosummit">


   <button type="submit" class="btn btn-primary" ng-click="addngo()"><i class="glyphicon glyphicon-map-marker"></i>Add New</button>
   </span>
 </div>  
  
  </button>
  <pre>
    {{newNgo | json}}
  </pre>




</div>
<div class="iputformcity">
   <input type="text" class="form-control" placeholder="new city" ng-model="city">
   <input type="text" class="form-control" placeholder="add latitude" ng-model="lat">
   <input type="text" class="form-control" placeholder="add longitude" ng-model="lng">
   <span class="citysummit">
   <button type="submit" class="btn btn-primary" ng-click="addcity()">Add New</button>
   </span>
</div>
<div class="ngosdata">
   <h2>ngos</h2>
   <ul class="lis" ng-repeat="ngos in ngoss">
      <li><a href="#" tooltip="{{selectcites.info}}">{{ngos.name + ' ,'+ ngos.city}}<button type="button" class="close" ng-click="deletengos(ngos)">&times;</button></a></li>
   </ul>
</div>
<div>
   <h2>city</h2>
   <ul class="lis" ng-repeat="selectcites in selectcitess">
      <li><a href="#" tooltip="{{selectcites.info}}">{{selectcites.name }}<button type="button" class="close" ng-click="deleteselectcites(selectcites)">&times;</button></a></li>
   </ul>
</div>

<footer class="footer">
   <div class="container">
      <p>sharing smilesv2.0.13 |
         <a href="https://twitter.com/tyhenkel">@sharing smiles</a> |
         <a href="/">Issues</a>
      </p>
   </div>
</footer>