
.trash { color:rgb(209, 91, 71); }


span.ngosummit {
margin-left: 100px;
}

.latlngcontainer{
  background-color:#fff;
  padding:40px 80px;
  border-radius:8px;
}

h4.latlngtitle{
  color:#999;
}

span.ngosummit.ng-scope {
margin-left: 708px;
}

.mapform {
margin-top: -242px;
margin-left: 409px;
position: absolute;
z-index: 100;
width:610px;
}
form.search1.ng-pristine.ng-valid {
width: 620px;
}
map#map1 {
height: 250px!important;
}
.inputformcity.ng-scope {
    margin-left: 62% !important;
    width: 400px !important;
    text-align: center !important;
}

.inputformngo {
    width: 400px !important;
    margin-left: -10px !important;
}
span.ngosummit {
    margin-left: 226px;
}