<div class="topbarmain">
  <a href="/" class="navbar-brand">sharingsmiles</a>
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li></a>
        
       
      <a class="admin" href="/admin">  <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}">Admin</li></a>
      </ul>

      <ul class="nav navbar-nav navbar-right">
       <a class="admin"href="/signup"> <li class="signup" ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}">Sign up</li></a>
        <a class="admin"href="/login"><li  class="login"ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}">Login</li></a>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <a class="admin" href="/settings"><li class="setting" ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><span class="glyphicon glyphicon-cog"></span></li></a>
        <a class="admin"href="" ng-click="logout()"><li class="logout" ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">Logout</li></a>
      </ul>
</div>
  <nav class="menu" tabindex="0">
  <div class="smartphone-menu-trigger"></div>
  <header class="avatar">
    <img src="/assets/images/moile1.png" />
    <h2>{{getCurrentUser().name}}</h2>
  </header>
  <ul class="slidebar">
    <a class="aslidbar" href="/main"> <li tabindex="0" class="fa fa-home"><span class="menutitle"> Home</span></li></a>
   
     <a class="aslidbar" href="/news"> <li tabindex="0" class="fa fa-newspaper-o"><span class="menutitlenews">Short news</span></li></a>
     <a class="aslidbar" href="/share"> <li tabindex="0" class="fa fa-clock-o"><span class="menutitletime"> Share time</span></li></a>
     <a class="aslidbar" href="/sharemoney"> <li tabindex="0" class="fa fa-money"><span class="menutitlemoney"> Share money</span></li></a>
     <a class="aslidbar" href="/sharething"> <li tabindex="0" class="fa fa-asterisk"><span class="menutitlething"> Share things</span></li></a>
     <a class="aslidbar" href="/shareexperience"><li tabindex="0" class="fa fa-weixin"><span class="menutitleexperience"> Share experience</span></li></a>
    </ul>   
</nav>


<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>
</div>
<div class="inputformngo form-horizontal col-md-6 col-md-offset-3">
  <div class='form-group'>
    <label class="control-label col-md-4" for='fieldName'>Name</label>
    <div class='col-md-8'>
      <input type="text" id='fieldName' class="form-control" placeholder="Name" ng-model="newNgo.name">
    </div>
  </div>
  <div class='form-group'>
    <label class="control-label col-md-4" for='fieldCity'>City</label>
    <div class='col-md-8'>
      <select class="form-control" ng-options='city.name as city.name for city in cities' ng-model="newNgo.city"></select>
    </div>
  </div>
  <div class='form-group'>
    <label class="control-label col-md-4" for='fieldCategory'>Category</label>
    <div class='col-md-8'>
      <input type="text" class="form-control" placeholder="category" ng-model="newNgo.category">
    </div>
  </div>
  <div class='form-group'>
    <label class="control-label col-md-4" for='fieldAddress'>Address</label>
    <div class='col-md-8'>
      <textarea class="form-control" id="address" placeholder="Address" ng-model='newNgo.address' ng-change='getLatLng()'></textarea>
    </div>
  </div>
  <div class='form-group'>
    <label class="control-label col-md-4" for='fieldInfo'>Info</label>
    <div class='col-md-8'>
      <textarea class="form-control"  placeholder="Add info" ng-model='newNgo.info' ng-change='getLatLng()'></textarea>
    </div>
  </div>

   <div class='form-group'>
    <label class="control-label col-md-4" for='fieldSearch'>Latitude</label>
    <div class='col-md-8'>
      <input class="form-control"  placeholder="latitude" ng-model="newNgo.position.latitude"  id="lat"></input>
    </div>
  </div>
  <div class='form-group'>
    <label class="control-label col-md-4" for='fieldSearch'>Longitude</label>
    <div class='col-md-8'>
      <input class="form-control"  placeholder="longitude" ng-model="newNgo.position.longitude" id="lng"></input>
    </div>
  </div>
   <span class="ngosummit">


   <button type="submit" class="btn btn-primary" ng-click="addngo()"><i class="glyphicon glyphicon-map-marker"></i>Add New</button>
   </span>
 </div>  
  
  </button>
  <pre>
    {{newNgo | json}}
  </pre>




</div>
<div class="iputformcity">
   <input type="text" class="form-control" placeholder="new city" ng-model="city">
   <input type="text" class="form-control" placeholder="add latitude" ng-model="lat">
   <input type="text" class="form-control" placeholder="add longitude" ng-model="lng">
   <span class="citysummit">
   <button type="submit" class="btn btn-primary" ng-click="addcity()">Add New</button>
   </span>
</div>
<div class="ngosdata">
   <h2>ngos</h2>
   <ul class="lis" ng-repeat="ngos in ngoss">
      <li><a href="#" tooltip="{{selectcites.info}}">{{ngos.name + ' ,'+ ngos.city}}<button type="button" class="close" ng-click="deletengos(ngos)">&times;</button></a></li>
   </ul>
</div>
<div>
   <h2>city</h2>
   <ul class="lis" ng-repeat="city in cities">
      <li><a href="#" tooltip="{{selectcites.info}}">{{city.name }}<button type="button" class="close" ng-click="delete(selectcites)">&times;</button></a></li>
   </ul>
</div>

<footer class="footer">
   <div class="container">
      <p>sharing smilesv2.0.13 |
         <a href="https://twitter.com/tyhenkel">@sharing smiles</a> |
         <a href="/">Issues</a>
      </p>
   </div>
</footer>