<div class="topbar">
  <a href="/" class="navbar-brand">sharingsmiles</a>
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li></a>
        
       
      <a class="admin" href="/admin">  <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}">Admin</li></a>
      </ul>

      <ul class="nav navbar-nav navbar-right">
       <a class="admin"href="/signup"> <li class="signup" ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}">Sign up</li></a>
        <a class="admin"href="/login"><li  class="login"ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}">Login</li></a>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <a class="admin" href="/settings"><li class="setting" ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><span class="glyphicon glyphicon-cog"></span></li></a>
        <a class="admin"href="" ng-click="logout()"><li class="logout" ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">Logout</li></a>
      </ul>
</div>
<nav class="menu" tabindex="0">
  <div class="smartphone-menu-trigger"></div>
  <header class="avatar">
    <img src="/assets/images/moile1.png" />
    <h2>John D.</h2>
  </header>
  <ul class="slidebar">
    <a class="aslidbar" href="/main"> <li tabindex="0" class="fa fa-home"><span> Home</span></li></a>
   
     <a class="aslidbar" href="/news"> <li tabindex="0" class="fa fa-newspaper-o"><span>Short news</span></li></a>
     <a class="aslidbar" href="/share"> <li tabindex="0" class="fa fa-clock-o"><span> Share time</span></li></a>
     <a class="aslidbar" href="/sharemoney"> <li tabindex="0" class="fa fa-money"><span> Share money</span></li></a>
     <a class="aslidbar" href="/sharething"> <li tabindex="0" class="fa fa-asterisk"><span> Share things</span></li></a>
     <a class="aslidbar" href="/shareexperience"><li tabindex="0" class="fa fa-weixin"><span> Share experience</span></li></a>
    </ul>   
</nav>

<footer class="footer">
  <div class="container">
      <p>sharing smilesv2.0.13 |
        <a href="https://twitter.com/tyhenkel">@sharing smiles</a> |
         <a href="/">Issues</a></p>
  </div>
</footer>
