<div ng-include="'components/navbar/navbar.html'"></div>
<header class="experienceheader">
   <h1 class="shareexperienceheader">header</h1>
</header>
<div class="card">
   <div class="img_article"></div>
   <div class="date_article">
      <div class="day">27</div>
      <div class="month">Mai</div>
   </div>
   <div class="title_article">My great post form wordpress</div>
   <div class="subtitle_article">Par timotebx</div>
   <div class="content_article">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat sed ipsum posuere porta. Curabitur pulvinar justo magna, in luctus libero vestibulum consectetur. Sed in risus id enim molestie commodo vitae in justo. Donec elementum id nisi sit amet tincidunt.
   </div>
   <div class="tags_article">
      <button class="likebtn">like <i class="fa fa-thumbs-up"></i></button>
      <button class="unlikebtn">unlike <i class="fa fa-thumbs-down"></i></button>
   </div>
</div>
<div class="experinceview" ng-repeat="experience in experiences">{{user.name}}{{experiences.date}}{{experience.experience}}</div>
<div class="expeerienceform">
<input type="text" class="ngonametextbox"  placeholder="NGO NAME" ng-model="share.ngoname"> 
<textarea  class="experiencetextbox"placeholder="Enter experience here." id="text" name="text" rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; "></textarea>
<input type="file" ngf-select ng-model="files" multiple/>
<ul>
   <li ng-repeat="file in files">{{file.name}}</li>
   <img ngf-src="file" ngf-default-src="'/thumb.jpg'" ngf-accept="'image/*'"/>
</ul>
<button type="submit" class="btn btn-primary" ng-click="upload()"><i class="glyphicon glyphicon-map-marker"></i>SHARE</button>
</div>

<form>
  <div class="form-group">
    <label for="name">Full Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="customer.name">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="customer.email">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Avatar</label>
    <input type="file" id="exampleInputFile" file-model="customer.file">
  </div>
  <button type="submit" class="btn btn-default" ng-click="Submit()">Submit</button>
</form>

{{customer}}

<footer class="footer">
   <div class="container">
      <p>sharing smilesv2.0.13 |
         <a href="https://twitter.com/tyhenkel">@sharing smiles</a> |
         <a href="/">Issues</a>
      </p>
   </div>
</footer>