
.inputformngo.ng-scope {
width: 400px;

}
span.ngosummit {
margin-left: 100px;
}


span.ngosummit.ng-scope {
margin-left: 708px;
}

.mapform {
margin-top: -242px;
margin-left: 409px;
position: absolute;
z-index: 100;
width:610px;
}
form.search1.ng-pristine.ng-valid {
width: 620px;
}
map#map1 {
height: 250px!important;
}
.iputformcity.ng-scope {
position: absolute;
margin-top: -201px;
margin-left: 1041px;
width: 400px;
text-align: center;
}