
textarea.experiencetextbox {
border-radius: 25px;
width: 500px;
text-align: center;
border: 3px solid rgb(161, 53, 53);
margin-top: 1px;
}
.expeerienceform.ng-scope {
width: 500px;
float: right;
}
h1.shareexperienceheader {
border-bottom: 2px solid blue;
}
input.ngonametextbox{
	text-align: center;
}
