.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
   
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
li.navbarli {
  display: inline-block;
  width:258px;
  font-size:16px;
  color:#4393B9;
  background-color: aliceblue;
  margin-left: -5px;
  border: 1px solid rgb(67, 147, 185);
  text-align:center;
  padding-top: 30px;
  padding-bottom: 28px;
}
ul.navbar1 {
 text-align: center;
padding: 0px;
background-color: #F0F8FF;
border: 1px solid #4393b9;
margin-bottom:0px;
}
span.fa.fa-clock-o.cs{
font-size:45px;
   display:block;
  margin-bottom:10px;
}
span.fa.fa-money{
font-size:45px;
  margin-bottom:10px;
    display:block;

}
span.fa.fa-asterisk{
   display:block;
font-size:45px;
  margin-bottom:10px;
}
span.fa.fa-weixin{
   margin-bottom:10px;
    display:block;
    font-size:45px;
}
span.fa.fa-lightbulb-o{
   margin-bottom:10px;
    display:block;
    font-size:45px;
}
a {
font-size:13px;
  color: #4393B9;}

  .sharing.option {
  BACKGROUND-COLOR: rgb(241, 241, 241);
  font-size: xx-large;
  color: rgb(67, 147, 185);
  text-align: center;
   }


.break{
  display:block;}

ul.numberofdonetion{
 text-align: center;
margin-bottom: 0px;
BACKGROUND-COLOR: rgb(241, 241, 241);
height: 245px;


}


.donaer {
margin-top: 50px;
  margin-left: 125px;
  text-align: center;
display: inline-block;
color: #4393b9;}


.video{
  height: 257px;
  width: 800px;
  margin-left: 225px;
  border:1px solid blue;}



  .app{
  height: 820px;
border-top: 1px solid #4393B9;
border-bottom: 1px solid #4393B9;
background-image: url("/assets/images/dowloadapp.png");
background-size: cover;
}


img.img1{
height: 438px;
width: 783px;
float: right;
}