<div class="topbarmain">
  <a href="/" class="navbar-brand">sharingsmiles</a>
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li></a>
        
       
      <a class="admin" href="/admin">  <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}">Admin</li></a>
      </ul>

      <ul class="nav navbar-nav navbar-right">
       <a class="admin"href="/signup"> <li class="signup" ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}">Sign up</li></a>
        <a class="admin"href="/login"><li  class="login"ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}">Login</li></a>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <a class="admin" href="/settings"><li class="setting" ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><span class="glyphicon glyphicon-cog"></span></li></a>
        <a class="admin"href="" ng-click="logout()"><li class="logout" ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">Logout</li></a>
      </ul>
</div>
<div class="background">
  <nav class="menu" tabindex="0">
  <div class="smartphone-menu-trigger"></div>
  <header class="avatar">
    <img src="/assets/images/moile1.png" />
    <h2>{{getCurrentUser().name}}</h2>
  </header>
  <ul class="slidebar">
    <a class="aslidbar" href="/main"> <li tabindex="0" class="fa fa-home"><span class="menutitle"> Home</span></li></a>
   
     <a class="aslidbar" href="/news"> <li tabindex="0" class="fa fa-newspaper-o"><span class="menutitlenews">Short news</span></li></a>
     <a class="aslidbar" href="/share"> <li tabindex="0" class="fa fa-clock-o"><span class="menutitletime"> Share time</span></li></a>
     <a class="aslidbar" href="/sharemoney"> <li tabindex="0" class="fa fa-money"><span class="menutitlemoney"> Share money</span></li></a>
     <a class="aslidbar" href="/sharething"> <li tabindex="0" class="fa fa-asterisk"><span class="menutitlething"> Share things</span></li></a>
     <a class="aslidbar" href="/shareexperience"><li tabindex="0" class="fa fa-weixin"><span class="menutitleexperience"> Share experience</span></li></a>
    </ul>   
</nav>
 <h1 class="wheredo">Where do you want to volunteer?</h1>
   <form class="search" name="searchForm" novalidate ng-submit="searchMap()">
      <input type="text" class="searchbox" ng-model="searchPlace"/>
      <div class="after"></div>
      <input class="citysummit" type="submit" />
   </form>
   <h4 class="searchbtn">&nbsp;</h4>
   <p class="clickhere">Click search, Enter to city</p>
   <div style="position:relative">
   
      <ul class="selectcata"><button data-ng-click="loadorphn()"class="cataorphn">OLD AGE HOME</button>
         <button data-ng-click="loadorphn()"class="cataorphn" ng-model="selectedcategory">BLOOD DONATION CAMP</button>
         <button data-ng-click="loadorphn()"class="cataorphn">ORPHANAGE</button>
         <button data-ng-click="loadorphn()"class="cataorphn">SCHOOLS</button>
         <button data-ng-click="loadorphn()"class="cataorphn">SOCIAL WORKER</button>
      </ul>
  
   
      <div>      
           <map id="map"center="current-location" zoom="12"/>         
      </div>

   
       

   <div class="list">
      <h2 class="listngo">list of Ngos:</h2>
      <table>
         <tr ng-repeat="ngo in ngos | filter:{city:selectedcity}|filter:{city:searchPlace}" ng-mouseover="centerMap(ngo)">
            <td><a class="ngolisthref" href="/#/view/{{ngo._id}}">{{ ngo.name | uppercase}}</a></td>
            <td>{{ ngo.city| uppercase }}  <span class="icon-map-marker"></span></td>
         </tr>
      </table>
   </div>
 <div class="selectcity">
      <select class="choosecity1" ng-options='city.name as city.name for city in cities' ng-model='selectedcity'><option value="" selected="selected">select city</option>
      </select></div>
  
   </div>
   
   <footer class="footer">
      <p>sharing smilesv2.0.13 |
         <a href="https://twitter.com/tyhenkel">@sharing smiles</a> |
         <a href="/">Issues</a>
      </p>
   </footer>
</div>