a.ngolisthref.ng-binding {
color: rgb(231, 127, 255)
}

#map {
    display: block;
    width: 100%;
    height: 100%;
}

#map {
    background: #58B;
}
#overlay {
  display: block;
  position: absolute;
  z-index: 1000;
  background-color: white;
  top: 20px;
  left: 20px;
  height: 400px;
  width: 250px;
  overflow: auto;
}
map#map {
  height: 600px!important;
}

.list{
position: absolute;
top: 0;
left: 0;
z-index: 100;
margin-left: 67px !important;
margin-top:276px!important;
}
map#map {
height: 600px!important;
}

.selectcity {
text-align: left;
margin-top: -79px;
margin-left: -577px;
padding-left: 0px;
list-style: none;
position: absolute;
display: inline-table;
z-index: 1000;
}

select.choosecity1.ng-pristine.ng-valid.ng-touched {
background-color: rgba(18, 22, 21, 0);
border: 3px solid rgb(161, 53, 53);
}

h1.wheredo.ng-scope {
text-align: center;
}


a{
  color:white;
}
ul.selectcata {
margin-left: -19px;
margin-bottom: -29px;
position: relative;
z-index: 100;
}
button.cataorphn {
margin-left: 26px;
border: 3px solid rgb(231, 127, 255);
background-color: rgba(7, 8, 8, 0.43);
color: rgb(255, 255, 255);

}
table{
  color:white;
}
tr.ng-scope {
border: 1px solid rgb(231, 127, 255);
}
table, th , td  {
 
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: rgba(0, 0, 0, 0.63);
}
table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.63);
}
h1.listngo {
margin-left: 10px;
color:#A13535;
}


.background.ng-scope {
  width:100%;
text-align: center;
background-color: rgb(231, 127, 255);
}


p.clickhere {
  text-align: center;
  color: #A13535;
  font-size: 14px;
}
h4.searchbtn {
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  transform: scale(0);
  transition: all 0.3s;
  position: relative;
  top: -25px;
  margin: 0;
  font-weight: normal;
}
h4.searchbtn.show {
  animation: alert 0.18s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes alert {
  0%{
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
form {
  transition: all 0.15s;
}
form.explode {
  transform: scale(1.4);
  opacity: 0;
}

form.search{
  width: 36px;
  height: 36px;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  position: relative;
}
input[type="submit"]{
  display: none !important;
}
input {
  width: 100%;
}
input {
  background: none;
  border: 3px solid #A13535;
  border-radius: 26px;
  box-sizing: border-box;
  padding: 5px 15px 7px;
  font-size: 14px;
  color: #A13535;
  z-index: 2;
  position: relative;
}
input:focus {
  outline: none;
}
.after {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 1px;
  right: 0;
  z-index: 1;
}
form.open .after {
 cursor: pointer;
}
.after:before,
.after:after {
  content: '';
  width: 13px;
  height: 3px;
  background-color: #A13535;
  border-radius: 3px;
  position: absolute;
  transform-origin: 100% 100%;
}
.after:after{
  bottom: -3px;
  right: -3px;
  transform: rotate(45deg);
}
.after:before {
  top: -3px;
  right: -3px;
  transform: rotate(-45deg);
  opacity: 0;
}
form,
form .after,
form .after:before,
form .after:after {
  animation-duration: 1.1s;
  animation-fill-mode: forwards;
}
form.in {
  animation-name: expand;
}
form.in .after:before {
  animation-name: beforemagic;
}
form.in .after:after {
  animation-name: aftermagic;
}

form.close,
form.close .after,
form.close .after:before,
form.close .after:after {
  animation-direction: reverse;
}
form.close {
  animation-name: expand;
}
form.close .after:before {
  animation-name: beforemagic;
}
form.close .after:after {
  animation-name: aftermagic;
}

/* Hold final focused state
 ****************************/
form.open {
  width: 250px;
  color: #A13535;
}
form.open .after {
  z-index: 3;
}
form.open .after:before {
  width: 20px;
  top: 9px;
  right: 13px;
  opacity: 1;
}
form.open .after:after {
  width: 20px;
  bottom: 10px;
  right: 15px;
}

@keyframes aftermagic {
  0%   {}
  10% {
    width: 24px;
    bottom: -10px;
    right: -10px;
  }
  15%{
    opacity: 1;
  }
  35% {
    width: 13px;
    bottom: -3px;
    right: -3px;
     opacity: 0;
    
  }
  25% {
    opacity: 0;
  }
  64% {
    opacity: 0;
  }
  65% {
    opacity: 1;
    width: 13px;
    bottom: -2px;
    right: -3px;
  }
  75% {
    width: 30px;
    bottom: 4px;
    right: 10px;
  }
  90% {
    width: 20px;
    bottom: 10px;
    right: 15px;
  }
  100% {
    width: 20px;
    bottom: 10px;
    right: 15px;
  }
}
@keyframes beforemagic {
  0%   {}
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
    width: 13px;
    top: -4px;
    right: -3px;
  }
  65% {
    width: 30px;
    top: 6px;
    right: 10px;
  }
  80% {
    width: 20px;
    top: 9px;
    right: 13px;
  }
  100% {
    width: 20px;
    top: 9px;
    right: 13px;
    opacity: 1;
  }
}
@keyframes expand {
    0%   {
      color: transparent;
    }
  20% {
    width: 36px;
  }
  45% {
    width: 250px;
  }
  99% {
    color: transparent;
  }
    100% {
      width: 250px;
      color: #A13535;
    }
}