
.ngooption {
display: inline-block;
}

.wrapper {
  margin: 50px auto;
  text-align: center;
}

.tweet-cards{
  background-color: #F4F4F4;
  width:323px;
  height:362px;
  margin: auto;
  border-radius: 2px;
  box-shadow: 3px 3px 3px #007BA8;
}

.tweet-cards .card-top{
  background-color: #007BA8;
  border-bottom: 4px solid #006E96;
  height:30%;
  border-radius: 2px 2px 0px 0px;
}

.tweet-cards .profile-pic{
  height:60px;
}

.tweet-cards .profile-pic img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin: -52px 0 0 6px;
  border: 4px solid white;
}

p#name a{
    text-decoration: none;
    font-family: arial, helvetica;
    color: #007BA8;
    font-weight: bold;
    position: relative;
    bottom: 8px;
}

.tweet{
    position: relative;
    bottom: 7px;
    width: 260px;
    height: 102px;
    word-wrap: break-word;
    text-align: center;
    line-height: 18px;
    margin: auto;
    font-weight: 200;
    font-family: helvetica neue;
    font-size: 0.95em;
    color: #545454;
}

p#date{
  position: relative;
  text-align: right;
  margin: 0 25px 15px 0;
  font-family: helvetica;
  font-size: 0.8em;
  color: #919191;
}


li.ngotab {
  height: 100px;
  display: inline-block;
  width: 300px;
}

li.operationswomen {
  font-family: calibri;
  display: inline-block;
  margin-right: 64px;
  font-size: 18px;
}
.fieldofoperation {
  margin-top: -120px;
}

button.imageandmap {
  width: 219px;
  font-size: 19px;
  color: rgb(101, 108, 249);
  background-color: white;
  border-bottom: 2px solid rgba(0, 71, 255, 0.42);
  border-right: 0px;
  font-family: calibri;
  font-weight: 600;
}


h2.fieldoperationtext {
  margin-left: 10px;
}

li.operations {
  margin-left: -25px;
  display: inline-block;
  width: 149px;
  font-size: 18px;
  font-family: calibri;
}
span.fa.fa-child.cs{
  margin-right:10px
}
span.fa.fa-book.cs{
  margin-right:10px
}
span.fa.fa-heartbeat.cs{
  margin-right:10px
}
span.fa.fa-female.cs{
  margin-right:10px
}
span.fa.fa-male.cs{
  margin-right:10px
}
.imagemapcanvas {
  background-color: rgb(107, 132, 207);
  height: 260px;
  width: 443px;
  margin-top: -195px;
  margin-left: 885px;
}

p.ngoaddress {
  margin-top: 4px;
  position: absolute;
  margin-left: 10px;
  color: white;
}
h2.ngostory {
  
  font-family: calibri;
  margin-top: 4px;
  color: white;
}
.infongo.ng-binding {

  color: white;
  margin-left: 10px;
}
button.volunteerngo {
  background-color: rgb(107, 132, 207);
  border-left: 2px solid #fff !important;
  border: 0px;
  font-size:17px;
  width:103;
  font-size: 20px;
  color: white;
}

button.donatengo {
  background-color: rgb(107, 132, 207);
  color: white;
  font-size: 20px;
  margin-left: 1106px;
  border-right: 2px solid #fff;
  border: 0px;
  width: 118px;
}

.headermenungo {
  border-bottom: 1px solid white;
}
a.ngomenu.ng-binding {
  font-size: 25px;
  color: white;
  margin-left:10px;
  
}
a.ngolisthref.ng-binding {
color: rgb(231, 127, 255)
}

#map {
    display: block;
    width: 100%;
    height: 100%;
}

#map {
    background: #58B;
}
#overlay {
  display: block;
  position: absolute;
  z-index: 1000;
  background-color: white;
  top: 20px;
  left: 20px;
  height: 400px;
  width: 250px;
  overflow: auto;
}
map#map {
  height: 600px!important;
}

.list{
position: absolute;
top: 0;
left: 0;
z-index: 100;
margin-left: 67px !important;
margin-top:276px!important;
}
map#map {
height: 600px!important;
}

.selectcity {
text-align: left;
margin-top: -79px;
margin-left: -577px;
padding-left: 0px;
list-style: none;
position: absolute;
display: inline-table;
z-index: 1000;
}

select.choosecity1.ng-pristine.ng-valid.ng-touched {
background-color: rgba(18, 22, 21, 0);
border: 3px solid rgb(161, 53, 53);
}

h1.wheredo.ng-scope {
text-align: center;
}


a{
font-family:calibri;
  color:white;
}
ul.selectcata {
margin-left: -19px;
margin-bottom: -29px;
position: relative;
z-index: 100;
}
button.cataorphn {
margin-left: 26px;
border: 3px solid rgb(231, 127, 255);
background-color: rgba(7, 8, 8, 0.43);
color: rgb(255, 255, 255);

}
table{
  color:white;
}
tr.ng-scope {
border: 1px solid rgb(231, 127, 255);
}
table, th , td  {
 
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: rgba(0, 0, 0, 0.63);
}
table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.63);
}
h1.listngo {
margin-left: 10px;
color:#A13535;
}


.background.ng-scope {
  width:100%;
text-align: center;
background-color: rgb(231, 127, 255);
}


p.clickhere {
  text-align: center;
  color: #A13535;
  font-size: 14px;
}
h4.searchbtn {
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  transform: scale(0);
  transition: all 0.3s;
  position: relative;
  top: -25px;
  margin: 0;
  font-weight: normal;
}
h4.searchbtn.show {
  animation: alert 0.18s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes alert {
  0%{
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
form {
  transition: all 0.15s;
}
form.explode {
  transform: scale(1.4);
  opacity: 0;
}

form.search{
  width: 36px;
  height: 36px;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  position: relative;
}
input[type="submit"]{
  display: none !important;
}
input.searchbox {
  width: 100%;
}
input.searchbox {
  background: none;
  border: 3px solid #A13535;
  border-radius: 26px;
  box-sizing: border-box;
  padding: 5px 15px 7px;
  font-size: 14px;
  color: #A13535;
  z-index: 2;
  position: relative;
}
input.searchbox:focus {
  outline: none;
}
.after {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 1px;
  right: 0;
  z-index: 1;
}
form.open .after {
 cursor: pointer;
}
.after:before,
.after:after {
  content: '';
  width: 13px;
  height: 3px;
  background-color: #A13535;
  border-radius: 3px;
  position: absolute;
  transform-origin: 100% 100%;
}
.after:after{
  bottom: -3px;
  right: -3px;
  transform: rotate(45deg);
}
.after:before {
  top: -3px;
  right: -3px;
  transform: rotate(-45deg);
  opacity: 0;
}
form,
form .after,
form .after:before,
form .after:after {
  animation-duration: 1.1s;
  animation-fill-mode: forwards;
}
form.in {
  animation-name: expand;
}
form.in .after:before {
  animation-name: beforemagic;
}
form.in .after:after {
  animation-name: aftermagic;
}

form.close,
form.close .after,
form.close .after:before,
form.close .after:after {
  animation-direction: reverse;
}
form.close {
  animation-name: expand;
}
form.close .after:before {
  animation-name: beforemagic;
}
form.close .after:after {
  animation-name: aftermagic;
}

/* Hold final focused state
 ****************************/
form.open {
  width: 250px;
  color: #A13535;
}
form.open .after {
  z-index: 3;
}
form.open .after:before {
  width: 20px;
  top: 9px;
  right: 13px;
  opacity: 1;
}
form.open .after:after {
  width: 20px;
  bottom: 10px;
  right: 15px;
}

@keyframes aftermagic {
  0%   {}
  10% {
    width: 24px;
    bottom: -10px;
    right: -10px;
  }
  15%{
    opacity: 1;
  }
  35% {
    width: 13px;
    bottom: -3px;
    right: -3px;
     opacity: 0;
    
  }
  25% {
    opacity: 0;
  }
  64% {
    opacity: 0;
  }
  65% {
    opacity: 1;
    width: 13px;
    bottom: -2px;
    right: -3px;
  }
  75% {
    width: 30px;
    bottom: 4px;
    right: 10px;
  }
  90% {
    width: 20px;
    bottom: 10px;
    right: 15px;
  }
  100% {
    width: 20px;
    bottom: 10px;
    right: 15px;
  }
}
@keyframes beforemagic {
  0%   {}
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
    width: 13px;
    top: -4px;
    right: -3px;
  }
  65% {
    width: 30px;
    top: 6px;
    right: 10px;
  }
  80% {
    width: 20px;
    top: 9px;
    right: 13px;
  }
  100% {
    width: 20px;
    top: 9px;
    right: 13px;
    opacity: 1;
  }
}
@keyframes expand {
    0%   {
      color: transparent;
    }
  20% {
    width: 36px;
  }
  45% {
    width: 250px;
  }
  99% {
    color: transparent;
  }
    100% {
      width: 250px;
      color: #A13535;
    }
}